<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020669513748-gssipm6bchk6u6eqqmodsub3lk306v5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020669513748-gssipm6bchk6u6eqqmodsub3lk306v5m</string>
	<key>API_KEY</key>
	<string>AIzaSyAEQUaMJsEiFI-r8otOmMrNl9alL8elHIU</string>
	<key>GCM_SENDER_ID</key>
	<string>1020669513748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMessenger</string>
	<key>PROJECT_ID</key>
	<string>flutter-messenger-79e5a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-messenger-79e5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020669513748:ios:ae0d24fe1f248b1c725701</string>
</dict>
</plist>